@page "/register"
@inject UserVM _userVM
@inject NavigationManager _navMngr
@implements IDisposable

<h3><b>Register</b></h3>
<hr />

@if (!_userVM.IsReady && string.IsNullOrEmpty(_userVM.Message))
{
    <Loading Title="Loading." />
}
else
{
    <label>@_userVM.Message</label>
    <EditForm Model="@_userVM" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="col-6 m-2">
            <InputText type="text" @bind-Value="_userVM.ProxyUser.Email" name="email" class="form-control" placeholder="Email address" />
            <ValidationMessage For="@(() => _userVM.ProxyUser.Email)" />
        </div>
        <div class="col-6 m-2">
            <InputText type="password" @bind-Value="_userVM.ProxyUser.Password" name="password" class="form-control" placeholder="Password" />
            <ValidationMessage For="@(() => _userVM.ProxyUser.Password)" />
        </div>
        <div class="col-6 m-2">
            <InputText type="password" @bind-Value="_userVM.PasswordConfirm" name="confirmPassword" class="form-control" placeholder="Password Confirm" />
            <ValidationMessage For="@(() => _userVM.PasswordConfirm)" />
        </div>
        <div class="col-6 m-2">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </EditForm>
}

@code {

    protected override void OnInitialized()
    {
        _userVM.OnChange += StateHasChanged;
    }

    private async Task HandleValidSubmit()
    {
        if (await _userVM.Register())
            _navMngr.NavigateTo("/profile");
    }

    public void Dispose()
    {
        _userVM.OnChange -= StateHasChanged;
    }

}
