@page "/Administration/category"
@inject IGenericCollectionVM<CategoryDTO> _catsVM
@inject IJSRuntime JS
@implements IDisposable
@inject IStringLocalizer<Resource> localizer
@layout AdminiistrationLayout

<h1>@localizer["Categories"]</h1>
<p class="text-muted">@_catsVM?.Message</p>

<div class="m-2 d-flex justify-content-start">
    <a class="btn btn-lg btn-outline-info mx-2" href="/Administration/Category/Edit">@localizer["Add"]</a>
    <button class="btn btn-lg btn-outline-success mx-2" @onclick="_catsVM.GetItemsAsync">@localizer["Refresh"]</button>
</div>

@if (!_catsVM.IsReady)
{
    <Loading>@localizer["Loading"]...</Loading>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@localizer["Id"]</th>
                <th>@localizer["Title"]</th>
                <th>@localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var c in _catsVM.Items)
            {
                <tr @key="@($"{c.Id}{c.Title}")">
                    <td>@c.Id</td>
                    <td>
                        <a href="/Administration/Category/Edit/@c.Id" class="list-group-item list-group-item-action">
                            <span>@c.Title</span>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" disabled="@(c.Goods.Count()>0)" @onclick="() => Delete(c)">@localizer["Remove"]</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        _catsVM.OnChange += StateHasChanged;
        await _catsVM.GetItemsAsync();
    }

    async Task Delete(CategoryDTO dto)
    {
        if (!await JS.InvokeAsync<bool>(
            "confirm",
            $"{localizer["RemovingConfirm"]} '{dto.ToString()}'"))
            return;

        await _catsVM.RemoveItemAsync(dto.Id);
    }

    public void Dispose()
    {
        _catsVM.OnChange -= StateHasChanged;
    }
}
