@page "/Administration/Goods"
@inject IGenericCollectionVM<GoodDTO> dtosVM
@inject IJSRuntime JS
@implements IDisposable
@inject IStringLocalizer<Resource> localizer
@layout AdminiistrationLayout

<h1>@localizer["Goods"]</h1>
<p class="text-muted">@dtosVM?.Message</p>

<div class="m-2 d-flex justify-content-start">
    <a class="btn btn-lg btn-outline-info mx-2" href="/Administration/Good/Edit">@localizer["Add"]</a>
    <button class="btn btn-lg btn-outline-success mx-2" @onclick="dtosVM.GetItemsAsync">@localizer["Refresh"]</button>
</div>

@if (!dtosVM.IsReady)
{
    <Loading>@localizer["Loading"]...</Loading>
}
else
{
    <table class="table table-responsive-md">
        <thead class="thead-light">
            <tr>
                <th>@localizer["Id"]</th>
                <th>@localizer["Title"]</th>
                <th>@localizer["Count"]</th>
                <th>@localizer["Price"]</th>
                <th>@localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var dto in dtosVM.Items)
            {
                <tr @key="@($"{dto.Id}{dto.Title}")">
                    <td>@dto.Id</td>
                    <td>
                        <a href="/Administration/Good/Edit/@dto.Id" class="list-group-item list-group-item-action">
                            <span>@dto.Title</span>
                        </a>
                    </td>
                    <td>@dto.Count</td>
                    <td>@dto.Price.ToString("00.00")</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => Delete(dto)">@localizer["Remove"]</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        dtosVM.OnChange += StateHasChanged;
        await dtosVM.GetItemsAsync();
    }

    async Task Delete(GoodDTO dto)
    {
        if (!await JS.InvokeAsync<bool>(
            "confirm",
            $"{localizer["RemovingConfirm"]} '{dto.ToString()}'"))
            return;

        await dtosVM.RemoveItemAsync(dto.Id);
    }

    public void Dispose()
    {
        dtosVM.OnChange -= StateHasChanged;
    }
}
