@inject UserAuthVM _userAuthVM
@inject IStringLocalizer<Resource> localizer


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Goods Store</a>
    <CultureSelector />
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@{
    // TODO: rewrite to css classes
}
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @localizer["HomePage"]
            </NavLink>
        </li>
        @if (_userAuthVM.IsSignedIn())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Profile">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @localizer["Profile"]: @_userAuthVM.AuthSrvice.User.ToString()
                </NavLink>@localizer[""]
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="() => _userAuthVM.Logout()">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>@localizer["Logout"]
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @localizer["Login"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Register">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @localizer["Register"]
                </NavLink>
            </li>
        }
        <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="mx-2" T="bool" Label="@localizer["Theme"]" />
    </ul>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
